[2016-10-25 18:34] pwalsh opened #1 "First UI iteration"
# Description

We are building a small app for a subset of data served in openspending. This app will provide a curated view onto that data, as well as other data and stories that are related.

Original wireframes here: https://github.com/os-data/eu-structural-funds/issues/191#issue-184208296

We will do several iterations on the design. The goal of this first issue is not to pay much attention to

[2016-10-25 18:36] pwalsh commented on #1
@akariv if there are any specific points for the framework do make them known. I'll assign to Goce tomorrow when he accepts the invite.

[2016-10-31 08:45] gocemitevski commented on #1
Pushed first set of templates here: https://github.com/openspending/subsidystories.eu

[2016-10-31 09:38] gocemitevski commented on #1
Now available for preview at:
- http://labs.openspending.org/subsidystories.eu/index.html
- http://labs.openspending.org/subsidystories.eu/country.html

[2016-11-08 09:55] DianaMPG commented on #1
@gocemitevski I just want to follow up on this. What are the agreed next steps?

[2016-11-08 10:06] gocemitevski commented on #1
@DianaMPG I suppose, integrate these static mock-ups in an Angular application.

cc @pwalsh

[2016-11-08 10:28] pwalsh commented on #1
I don't see much point in proceeding from this first iteration that we have until:
- we have an API to the data in OpenSpending, which we need to be in sync with @akariv on
- we have the updated style guide which we need to be in sync with @akariv and @smth on

[2016-11-17 08:28] akariv commented on #1
@pwalsh we should have by EOD a dataset in OpenSpending which we will be able to query using the API and create embeddable visualisations upon it.
It might be a good time to move forward with the implementation of the website.

[2016-11-17 08:32] pwalsh commented on #1
@akariv

Ok. We'll need to have some type of understanding of the API calls to get all the data points.

[2016-11-17 08:33] pwalsh commented on #1
@gocemitevski as a first next step, we can start the process of converting what you have to angular. Can you sync with @kravets-levko and @akariv on this.

[2016-11-17 10:37] cyberbikepunk commented on #1
@gocemitevski I wanted to attract you attention to the `geography` folder in the repo. I put in there all the `geojson` data that you need to draw the boundaries according the `nuts` codes. Have a look.

[2016-11-30 06:58] pwalsh opened #2 "Integrate real data from the OpenSpending API"
# Description

We want to populate the mock data with real data calls from the OpenSpending API.

# Tasks

- [ ] @akariv to define.

[2016-11-30 06:58] pwalsh commented on #1
@akariv do we have a version of the data now that can be queried? If yes, we'll need some examples that match the data points in the UI so that @gocemitevski can get started. We can continue that discussion in https://github.com/openspending/subsidystories.eu/issues/2

[2016-11-30 06:58] #1 closed

[2016-11-30 07:01] pwalsh opened #3 "Angularize the static prototype"
# Description

We have a decent set of static HTML mocks for the functionality of this site. We need to get it converted to Angular.

# Tasks

- [ ] @akariv to define

Q for @akariv do we use babbage.ui as a lib to query the OpenSpending API in general, even if we don't use the views from that lib?

[2016-11-30 07:10] akariv commented on #3
I think we should use iframes and embed OS-Viewer visualisations based on
the state.
There's actually no acute need to angularise the code, especially if the
main developer feels uncomfortable with using this framework.

On Wed, 30 Nov 2016 at 09:01 Paul Walsh <notifications@github.com> wrote:

[2016-11-30 07:21] pwalsh commented on #3
@akariv ok. and there are lots of data points that are not os-viewer based (counts and totals and so forth). Feel free to close this if https://github.com/openspending/subsidystories.eu/issues/2 will be enough to cover the next set of work that @gocemitevski should do

[2016-12-07 11:22] akariv commented on #2
@gocemitevski: So data is good enough to start working with it.

Here's a spec of what needs to be done:
- [x] Modify the global page so that each click on a country would open the country page
- [x] Pass the country code via the URL (e.g. query parameter)
- [x] Same URLs should be used in the right side navigation bar
- [x] The country page should use the query parameter to fetch data for that co

[2016-12-07 12:08] cyberbikepunk commented on #2
@gocemitevski Looking forward to having a nice front-end! We're actively working with @michaeljokf on putting some more category information in there. Let's see how the above goes and I'll ping you as soon as I have some more query possibilities for you.

[2016-12-07 13:01] akariv commented on #2
@michaeljokf  and  @cyberbikepunk
Just to keep the process straight, once we finish this issue (they way it's defined above ^), any change request should pass through an issue in this repo (naturally you can also change the code on your own and submit a pull request).

The decision of which queries should appear on the country page is a product decision, please give it some holistic though before

[2016-12-08 07:58] akariv opened #4 "Deploy app to Heroku"
We need to provide simple password protection to the site.

Levko - we can use the same solution that we used for the Ebola Tracker.

Domain should be subsidystories.eu - I'll provide details about that later.

[2016-12-08 17:22] kravets-levko commented on #4
If you don't mind - I'll implement it a bit simpler - as a HTTP Basic Auth - this will allow to implement auth with a minimum amount of code.

[2016-12-08 17:35] akariv commented on #4
Even better. I don't really know what you did in the Ebola Tracker, so I
simply assumed that it was basic auth ;)

On Thu, 8 Dec 2016 at 19:22 Levko Kravets <notifications@github.com> wrote:

[2016-12-08 17:40] kravets-levko commented on #4
It was my first app in node - do not judge strictly :wink:
I've added there a separate page for auth, with a simple session in cookies. A bit complicated...

[2016-12-12 07:39] #3 closed

[2016-12-12 10:50] #4 closed

[2016-12-13 18:56] annafralberts commented on #2
Hey! @gocemitevski where are we at?

On thoughts for the design, the first idea:
1. Small version of the overall dataset with the following columns: Beneficiary Name, Project Name
Region, Fund, Start Date, Complete Date, Total Amount.

2.
Standard view of the dataset:
Regional Division on the map, where you can zoom in on regions and how much money they have received compared to other regions (Jen

[2016-12-14 07:40] akariv commented on #2
Hey @annafralberts !

Currently @kravets-levko is implementing the website and @gocemitevski will take care of the design once the implementation is done.

As for the ideas you mentioned - these are actually not design decisions but rather product decisions. To avoid future frustrations, I suggest we follow this process:
- You and @seegerseeger should do the product thinking and decision making an

[2016-12-22 09:49] akariv opened #8 "Redesign the website"
The current website is really not designed, we want to:
a. fix any usability problems (e.g. from too small visualisations etc.)
b. fix any aesthetic issues (which I will need your professional input on that)
c. apply a design that looks similar to http://labs.openspending.org/os-style-guide/ (doesn’t have to match exactly)

@annafralberts @DianaMPG if you have any other design suggestions please s

[2016-12-22 14:56] DianaMPG commented on #8
This issue relates to #191

@akariv @annafralberts @gocemitevski
I would like to follow @akariv suggestion of greying out those EU countries on the graphical map of which we haven't acquired yet the data, but leave the EU map in one piece.

Also, I would suggest a drop down option ("Search by country") with all the available countries rather than a written out list with the country names on the ri

[2016-12-22 15:42] gocemitevski commented on #8
@akariv
Here is an early work-in-progress update with the grayed out countries. I have excluded Russia though. The geoJSON file with the country coordinates is also stripped of all the non-European countries.

![screen shot 2016-12-22 at 16 35 24-fullpage](https://cloud.githubusercontent.com/assets/359855/21430761/d2dd86fe-c864-11e6-8479-bb4bb2929ab7.png)

@DianaMPG
Adding an additional control se

[2016-12-22 15:55] DianaMPG commented on #8
@gocemitevski it works very well with greying out, thank you.
Is there the possibility that we could move Island a bit closer to the rest?
Currently, Island is lurking behind the "Github" :-)

[2016-12-23 09:02] gocemitevski commented on #8
@DianaMPG yes, I agree. Works better with the grayed out countries.

Maybe having the menu in vertical order -- like shown below -- can solve the issue with Island. I'm still experimenting, so I will post more samples soon.

![screen shot 2016-12-23 at 10 00 48-fullpage](https://cloud.githubusercontent.com/assets/359855/21450382/c4d84f20-c8f6-11e6-8af1-e19f5e8b13ee.png)

[2016-12-23 12:56] DianaMPG commented on #8
@gocemitevski great.

I have some more suggestions for the design:
- Russia: since we have now the greying option, could we put Russia back in, greyed out?
- I actually like the horizontal order. We for sure can push Iceland a little, we can be off the track geographically speaking. But let's see how it looks.
- As for the details side:
http://subsidystories.eu/country.html?country=DE
I would pref

[2016-12-23 13:42] gocemitevski commented on #8
@akariv thanks.

Now that we have Russia back, I think the vertical order makes quite more sense.

![screen shot 2016-12-23 at 14 32 08-fullpage](https://cloud.githubusercontent.com/assets/359855/21454946/c294acb0-c91c-11e6-8ff5-9a46ddf48601.png)

I completely agree. The squares don't server their purpose, since the date we need to include in them is much more extensive.

[2016-12-23 13:45] DianaMPG commented on #8
@gocemitevski thanks!

[2016-12-23 14:57] gocemitevski commented on #8
@akariv @DianaMPG

Here is how things might look if we have a dropdown as well.

![screen shot 2016-12-23 at 15 51 17-fullpage](https://cloud.githubusercontent.com/assets/359855/21456428/512313e4-c928-11e6-8285-902444830ccc.png)

[2016-12-23 14:58] DianaMPG commented on #8
@gocemitevski @akariv I like that very much, elegantly positioned, in my opinion.

@akariv @annafralberts

[2016-12-26 15:47] gocemitevski opened #10 "Horizontal overflow on the treemap iframe"
When embedded as an iframe the Treemap graph is overflowing horizontally which causes a horizontal scrollbar to appear below the iframe content. The markup of the graph needs to be restructured, to not have the elements wrapped in floating divs.

These updates need to be made:

* Remove the .row class from `<div ng-switch="state.params.visualizations[0]" class="row">`
* Remove the wrapping div aro

[2016-12-26 15:49] akariv commented on #10
@kravets-levko can you please take a look?

On Mon, Dec 26, 2016, 17:47 Goce Mitevski <notifications@github.com> wrote:

[2016-12-26 15:51] gocemitevski commented on #10
@kravets-levko here is a screenshot, as well...

![screenshot from 2016-12-26 16-50-22](https://cloud.githubusercontent.com/assets/359855/21483978/7a6d47a0-cb8b-11e6-9e2c-da0e15262f0c.png)

[2016-12-26 15:55] kravets-levko commented on #10
@akariv Yes, already on it

[2016-12-26 15:57] gocemitevski commented on #8
@akariv, @DianaMPG, @annafralberts

the recent updates are now available on http://subsidystories.eu/, thanks to @kravets-levko.

[2016-12-27 06:19] DianaMPG commented on #8
@gocemitevski @kravets-levko thanks so much.

[2016-12-27 15:30] gocemitevski commented on #10
@kravets-levko are you blocked with this issue?

[2016-12-27 16:05] annafralberts opened #12 "Add concatenated dataset for download behind the "data" tab"
Hey @gocemitevski and @akariv

Can you add the concatenated dataset - in full (with all columns - not the trimmed down version) to subsidystories.eu so that I can already start sharing this beta-version?

Thanks!

[2016-12-27 16:33] akariv commented on #12
You mean the download link for the raw data, right?

On Tue, Dec 27, 2016, 18:05 annafralberts <notifications@github.com> wrote:

[2016-12-27 16:47] annafralberts commented on #12
Yes :)

[2016-12-28 08:38] gocemitevski commented on #12
@annafralberts we'll be providing raw data per country or for the whole project? What I'm asking is actually do we need to have one download button for the whole site, or one, for each country?

cc @akariv

[2016-12-28 08:58] akariv commented on #12
We will have one download button with the entire data.

I'll put in the URL here once I have it.

[2016-12-28 10:37] gocemitevski commented on #8
@akariv @DianaMPG @annafralberts

http://subsidystories.eu/ has been updated to the most recent version. This time the updates are mostly related to polishing, usability and responsive design.

https://github.com/openspending/subsidystories.eu/commits/master

The download button is yet to be added.

cc @kravets-levko

[2016-12-28 14:52] DianaMPG commented on #8
@gocemitevski @akariv @kravets-levko @annafralberts
Please find the consolidated design / functionality spec here
https://docs.google.com/document/d/1VdKnM8XQxPrJdTXDoOsrU3GXMXqxxbYxWWkm2csyyQ4/edit

[2016-12-29 11:42] gocemitevski commented on #8
@akariv @annafralberts @DianaMPG @kravets-levko

Here is another possible look for the header with the introductory text and repositioned menu.

![screen shot 2016-12-29 at 12 38 39-fullpage](https://cloud.githubusercontent.com/assets/359855/21543174/1a62be5e-cdc4-11e6-90ab-415a14dfb27b.png)

[2016-12-30 09:21] gocemitevski commented on #8
@akariv @DianaMPG @annafralberts

More changes deployed on http://subsidystories.eu/. Most of the changes are within the map area and the country page data.

cc @kravets-levko

[2016-12-30 09:35] DianaMPG commented on #8
@gocemitevski it looks great, elegant and sophisticated! I like it very much, both main page/map area and country page.

Only one slight change:
Text: Explore the available data. Click on the map, choose from the dropdown list or the country list on the right-hand side. = same font than intro text but with the same spacing. Than we are good on this part.

As to clicking on the map as suggested in

[2017-01-05 12:46] akariv opened #13 "Website design for release"
Based on the document: https://docs.google.com/document/d/1VdKnM8XQxPrJdTXDoOsrU3GXMXqxxbYxWWkm2csyyQ4/edit

Header:
 - [x] Horizontal navigation with three items:
   - Data (opens modal with content, as in the document)
   - Resources (opens modal with content, as in the document
   - Github (links to os-data/eu-structural-funds)
  - [x] Country selection should work identically through:
   - [x]

[2017-01-05 12:54] akariv opened #14 "Website functionality for release"
Depends on #13

 - [x] Implement funding period filter:
   - Filter has 3 states (you can't deselect both periods)
   - Selecting just one period applies a filter to the data on the `funding_period` column.
   - Selecting both periods should not filter the data
 - [x] Use `amount` instead of `total_amount` in the queries
 - [x] Replace the dataset used to be `TBD`
 - [x] Implement the 'View Detail

[2017-01-09 13:33] gocemitevski opened #15 "Show countries in the treeview of the landing page"
The treeview on the landing page should list countries instead of organizations and clicking on any country should load the country page. The list below the chart should include country names with budgets and clicking on any country name should load the country page.

[2017-01-09 13:42] gocemitevski opened #16 "Add templating engine"
The index.html page now includes sample modal windows which need to be shown when certain header or footer elements are clicked. These modals should each have a separate template, which will get included where needed in the main page templates.

![screen shot 2017-01-09 at 14 41 56](https://cloud.githubusercontent.com/assets/359855/21768399/d07b6926-d679-11e6-802d-3fa01c9b0950.png)

[2017-01-18 09:30] #16 closed

[2017-01-18 09:30] #15 closed

[2017-02-03 15:30] annafralberts commented on #12
Reviving this issue. Can this download button put on the front page, or under the data tab?

[2017-02-03 15:33] annafralberts opened #21 "Remove the treemap from the front page"
We have looked at the treemap currently displayed and it misrepresent the data and comparisons, so we want to remove this part +  country selection panel on the right side

[2017-02-03 15:42] annafralberts opened #22 "Add Disclaimer text in Footer"
Add Disclaimer text

[2017-02-03 15:52] annafralberts opened #23 "Add links to sub-pages for countries"
On the country pages the
download button should have a download link for that country's dataset
the view details links to the OS-viewer for that country.

[2017-02-03 16:04] michaeljokf commented on #22
Please note that large amounts of the data presented were scraped from the web & PDFs, which could have led to errors in the data. Furthermore, there are eight different amount types throughout all of the datasets (see documentation). Make sure you compare to the right amounts.

This could be the disclaimer.

[2017-02-03 16:17] michaeljokf commented on #22
footer didnt make sense due to the layout so I just added two sentences right before you select the countries (the dropdown)

[2017-02-06 08:54] #2 closed

[2017-02-07 12:37] #10 closed

[2017-02-22 09:46] akariv commented on #23
Link to use:

`https://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/CC-eu-esif-funds-beneficiaries-2000-2020-full/data/CC-eu-esif-funds-beneficiaries-2007-2020-full.csv`

Replace 'CC' with country code (in lower case), e.g.:

https://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/at-eu-esif-funds-beneficiaries-2000-2020-full/data/at-eu-esif-funds-beneficiaries-2007-2020

[2017-02-22 09:47] akariv commented on #23
Link to OS-Viewer:

`http://next.openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:CC-eu-esif-funds-beneficiaries-2000-2020-full`

(CC is the country code as above)

[2017-02-23 09:55] michaeljokf opened #25 "add "loading" symbol for country specific pages"
Hey @kravets-levko talked to Adam about this and he said I should ping you.
When selecting a specific country it takes quite a while for the treemaps and top recipient list to load (between 5-25 seconds depending on the country). Right now what you see though is the large N/A symbol suggesting that the data is not available, although it is really just loading.

It would be great if one of those sm

[2017-02-27 11:15] #22 closed

[2017-02-27 16:37] michaeljokf opened #27 "replace top 10 beneficiaries with country specific data info"
I mentioned this to Adam recently and just wanted to write it down see if it is possible for you @kravets-levko. We were thinking that the top 10 beneficiary list should be deleted, since there is already the beneficiary list below the treemap - which is even better! Instead of having that info twice, the the country specific dataset description could be included instead (if feasible).
A country s

[2017-03-01 11:33] akariv opened #31 "Responsiveness issues"
e.g. Try to open the website in a window 1300px wide, the dropdown disappears and the map is not shown correctly

[2017-03-01 11:34] akariv opened #32 "CSV download link broken"
It's currently
`https://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/DE-eu-esif-funds-beneficiaries-2000-2020-full/data/DE-eu-esif-funds-beneficiaries-2007-2020-full.csv`

it should be
`http://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/de-eu-esif-funds-beneficiaries-2000-2020-full/data/DE-eu-esif-funds-beneficiaries-2007-2020-full.csv`

https->http, lowercase countr

[2017-03-01 11:36] akariv opened #33 "App crashes with many console log errors"
Looks like missing country description causes problems:

http://subsidystories.eu/country.html?country=DE

[2017-03-01 11:37] akariv commented on #32
Also OS-Viewer link should have the country code in lower case.

[2017-03-01 11:42] akariv opened #34 "Funding period selection"
- Remove underline from the selector element
- The title below the sum does not update to reflect the changes in the funding period

[2017-03-01 11:54] akariv opened #35 "Country specific descriptions not showing"

[2017-03-01 12:05] akariv opened #36 "When both funding periods are selected, don't filter by funding period at all"
i.e. don't do this :)

[2017-03-01 12:09] michaeljokf commented on #34
I assume the filter works on the field "funding_period" in the data right?
I found an issue for the Netherlands, we only have data from 2007-2013. However, when selecting 2014-2020 the same data is still displayed. Since there is no NL data with funding_period 2014-2020, something like N/A should be displayed instead.

[2017-03-01 13:52] michaeljokf commented on #31
yeah I had what I think are similar problems (using Firefox). The header text and the dropdown were not shown when the browser was at 100% - when zooming out to 80% or lower the entire thing was displayed.

If the text is too long, let me know, but I assume its on the programming side?

[2017-03-01 16:47] michaeljokf commented on #35
I have added Austria as a test case. Prepared all the other ones and will upload them on Github in the designated area / html tomorrow.

[2017-03-01 17:06] annafralberts opened #38 "Add download link and link to viewer in data tab"
In the text of the data tab the download link and the viewer link still need to be embedded.

Data
Download here (include link) our entire dataset in one CSV file. This is a rather large file (879 mb) and contains over 2.7 million rows. You can view and analyse the data here (include link).

The concatenated dataset combines the datasets of all 28 EU member state countries. We have collected all a

[2017-03-02 11:45] michaeljokf commented on #35
@kravets-levko country descriptions are now filed in the data section and should be good to go.

[2017-03-02 12:07] annafralberts opened #39 "Add OBEU Logo & Text"
In the footer please add the following logo:

http://openbudgets.eu/assets/materials/openbudgets_logo.png

and underneath that the text:
[OpenBudgets.eu](http://openbudgets.eu/) has received funding from the European Union’s H2020 EU research and innovation programme under grant agreement No 645833.

[2017-03-02 15:24] annafralberts opened #40 "Billions - > Billion and Millions -> Million"
We just noticed that on the country pages everywhere it says
X Billions. This shoud be X Billion, without the S
The same for Millions -> Million

[2017-03-06 15:36] kravets-levko commented on #32
Fixed, but there is S3 error:
[code]
[Example](http://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/pl-eu-esif-funds-beneficiaries-2000-2020-full/data/PL-eu-esif-funds-beneficiaries-2007-2020-full.csv) CSV (for Poland)

[2017-03-06 15:37] akariv commented on #32
What's the link you're using?

On Mon, Mar 6, 2017, 17:36 Levko Kravets <notifications@github.com> wrote:

[2017-03-06 15:57] kravets-levko commented on #32
For example this: http://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/pl-eu-esif-funds-beneficiaries-2000-2020-full/data/PL-eu-esif-funds-beneficiaries-2007-2020-full.csv
But it does not matter - the same error is (I suppose) for every country - I tried Germany, Austria, Poland and some others - all with the same error.

[2017-03-06 16:44] akariv commented on #32
There's still an upper case bit there...
All instances of PL need to be lower case

On Mon, Mar 6, 2017, 17:57 Levko Kravets <notifications@github.com> wrote:

[2017-03-06 16:47] kravets-levko commented on #32
yes, you're right, thank you!

[2017-03-06 20:07] kravets-levko commented on #40
@annafralberts (cc @michaeljokf) I fixed it for SubsidyStories; but visualizations are embedded from OS Viewer, so there all labels will be with `-s` endings (I can fix it too, but I cannot deploy OS applications, sorry)

[2017-03-06 20:13] annafralberts commented on #40
Good for the launch. Thanks!

Op 6 mrt. 2017 21:07 schreef "Levko Kravets" <notifications@github.com>:

[2017-03-07 08:22] annafralberts commented on #38
The data-tab download link is broken and gives this:

http://datastore.openspending.org/6018ab87076187018fc29c94a68a3cd2/-eu-esif-funds-beneficiaries-2000-2020-full/data/-eu-esif-funds-beneficiaries-2007-2020-full.csv

And the full set goes to the general explorer: http://next.openspending.org/explorer/

[2017-03-07 08:37] annafralberts opened #42 "OS Viewer should link to country filter PLUS recipient"
When you click on "View Details" you see this: http://next.openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:at-eu-esif-funds-beneficiaries-2000-2020-full?measure=%22amount.sum%22&groups%5B%5D=%22recipient_beneficiary_name.beneficiary_name%22&filters%5Bgeo_source_beneficiary_country.beneficiary_country_code%5D%5B%5D=%22AT%22&order=%22amount.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&l

[2017-03-07 08:38] annafralberts commented on #39
For OpenBudgets.eu the logo, add the link when you click on it: http://openbudgets.eu/

[2017-03-07 08:49] annafralberts opened #43 "Download Single Country Dataset does not work when filters are on"
When you have one of the periods selected (2007 - 2013 or 2014 - 2020)  the download button does not work, because we have of course not period filtered datasets.

So could you change this so that the download button always links to the single country dataset download, regardless of the period filter?

[2017-03-07 09:05] annafralberts opened #44 "Italy viewer links to explorer"
The view details link for italy does not link to the os-viewer for italy but to the OS explorer

[2017-03-07 09:07] annafralberts opened #45 "Germany - treemap does not show beneficiary names"
For the German Treemap, the tiles do not show the beneficiary names (although they are shown in the ranking below the treemap).

[2017-03-07 09:08] michaeljokf commented on #42
yes so basically add the filter for recipients in the viewer, so that the data is directly displayed.

[2017-03-07 09:28] annafralberts commented on #38
Also, if you are now on one detail page, also this download link changes. This download link should always be the full dataset.

[2017-03-07 11:24] kravets-levko commented on #44
@annafralberts Can you check if Italy dataset is published? Dataset ID is `6018ab87076187018fc29c94a68a3cd2:it-eu-esif-funds-beneficiaries-2000-2020-full`

[2017-03-07 11:27] annafralberts commented on #44
will do

On 7 March 2017 at 12:24, Levko Kravets <notifications@github.com> wrote:

--
Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de <info@okfn.de> | @Anna_Alberts
Office: +49 30 57703666 0
Mobile: +49 176 21370998 <%2B49%20176%2032768530>

[2017-03-07 11:33] kravets-levko commented on #45
It's not an issue - `babbage.ui` (library we use in OS Viewer to create visualizations) hides too long labels. And, in case of Germany, all labels are too long :smile:

[2017-03-07 11:35] annafralberts commented on #44
I have this link for Italy in our Admin page:

http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:it-eu-esif-funds-beneficiaries-2000-2020-full?lang=en

and the name of the dataset from datamine (also from the repo is): fdp__ba94aabb80080745__it_eu_esif_funds_benef__e4dcbdbd

[2017-03-07 11:54] kravets-levko commented on #44
Great. So, please check in admin which button is in the right side of Italy dataset (and BTW check also full dataset too):
![image](https://cloud.githubusercontent.com/assets/12139186/23655395/81156724-033d-11e7-8b39-f13e49a09865.png)
All datasets should have `Make private` button which means that they are published and allowed to be viewed in OS Viewer.

P.S. Screenshot is from my Admin page - I

[2017-03-07 12:00] annafralberts commented on #44
Okay. Now they are all private. Change them all?

Op 7 mrt. 2017 12:55 schreef "Levko Kravets" <notifications@github.com>:

[2017-03-07 12:01] kravets-levko commented on #44
Yes, I think, - if you need to allow opening them in Viewer :-)

[2017-03-07 12:04] annafralberts commented on #44
Done!

On 7 March 2017 at 13:01, Levko Kravets <notifications@github.com> wrote:

--
Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de <info@okfn.de> | @Anna_Alberts
Office: +49 30 57703666 0
Mobile: +49 176 21370998 <%2B49%20176%2032768530>

[2017-03-07 12:44] annafralberts commented on #38
The download link now functions.

This link "You can view and analyse the data here (include link)." still goes to the explorer and must be http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:eu-esif-funds-beneficiaries-2000-2020-full?measure=%22Cost_of_the_project.sum%22&groups%5B%5D=%22geo_source_Country_code.Country_code%22&order=%22Cost_of_the_project.sum%7Cdesc%22&visualizati

[2017-03-07 12:55] kravets-levko commented on #44
@annafralberts, I just noticed - why does Italy dataset belong to another user (there is another user ID in URL)?

[2017-03-07 12:59] annafralberts commented on #44
That shouldn't be... everything goes over the openspendingtest account, and has been uploaded automatically over gobble

[2017-03-07 13:02] annafralberts commented on #44
We are talking about this one:  Complete European ESIF Funds Beneficiaries 2007-2020 (Filtered by IT)

[2017-03-07 13:02] kravets-levko commented on #44
Because it's the reason why Italy and full datasets are redirecting to OS Explorer - I expected that all datasets belong to the same user, and that two are owned by user with ID `ba94aabb80080745688ad38ccad9bfea` while other datasets are owned by `6018ab87076187018fc29c94a68a3cd2`

[2017-03-07 13:02] kravets-levko commented on #44
Yes, I think

[2017-03-07 13:05] kravets-levko commented on #44
I can make some hard-code for these two datasets, but looks wrong for me

[2017-03-07 13:06] annafralberts commented on #44
This is the correct link for italy's viewer: http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:it-eu-esif-funds-beneficiaries-2000-2020-full?measure=%22Cost_of_the_project.sum%22&groups%5B%5D=%22recipient_Beneficiary_name.Beneficiary_name%22&order=%22Cost_of_the_project.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en

But that is indeed strange, I am used to always seei

[2017-03-07 13:08] annafralberts commented on #44
No, this one: http://next.openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:it-italy-2014-2020-erdf-esf

is the wrong one.

These are the single datasets that are uploaded to together construct the full one, which is uploaded under the ba94aabb80080745688ad38ccad9bfea ID

[2017-03-07 13:10] kravets-levko commented on #44
Yes, I see that `ba....` also owns datasets for other countries. So, I'll change user ID, and then deploy app again

[2017-03-07 13:22] kravets-levko commented on #44
@annafralberts One more question - which measure should be used?

[2017-03-07 13:29] annafralberts commented on #44
Measure is "Cost of Project"

and Dimension: recipient

[2017-03-07 13:47] kravets-levko commented on #44
@annafralberts There is a problem with all datasets: Funding period is not properly mapped. There is `fin_source_Funding_period.Funding_period` which is label for `fin_source_Funding_period.Funding_period_number`; `fin_source_Funding_period.Funding_period` contains values like `"2007-20013"` and so on; but `fin_source_Funding_period.Funding_period_number` contains only empty strings - so there is

[2017-03-07 13:51] annafralberts commented on #44
So that is a mistake all the way in the fiscal schema?

[2017-03-07 13:51] annafralberts commented on #44
But here: http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:it-eu-esif-funds-beneficiaries-2000-2020-full?measure=%22Cost_of_the_project.sum%22&groups%5B%5D=%22fin_source_Funding_period.Funding_period_number%22&order=%22Cost_of_the_project.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en

It seems to be working?

[2017-03-07 13:54] kravets-levko commented on #44
Try two experiments:
- use your link and try to drilldown (click any tile on treemap). `No data to display` means wrong filtering.
- try this link: http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:it-eu-esif-funds-beneficiaries-2000-2020-full?measure=%22Cost_of_the_project.sum%22&groups%5B%5D=%22administrative_classification_2.Thematic_objective_code%22&order=%22Cost_of_the_pro

[2017-03-07 13:56] kravets-levko commented on #44
I think that field currently mapped as `fin_source_Funding_period.Funding_period_number` should not be mapped at all; only `fin_source_Funding_period.Funding_period` should be mapped and used both for labels and values. It's just my idea, I don't know is it right or wrong.

[2017-03-07 13:57] annafralberts commented on #44
@michaeljokf

[2017-03-07 13:58] michaeljokf commented on #44
@kravets-levko yes that is what it is supposed to be. We are only using funding_period not the other one "funding_period_number" - that was a change made quite a while back and Adam wanted to drop those "old" fields.

[2017-03-07 13:59] kravets-levko commented on #44
@michaeljokf Okay, thank you for explanation. But currently we have what we have - both fields are mapped, and therefore OS Viewer is not working properly. Do you have any idea what to do with it?

[2017-03-07 14:00] michaeljokf commented on #44
[this](https://github.com/os-data/eu-structural-funds/commit/764c7ffca0283c669da2cbfe08678f1b97863958) is the commit where Adam dropped all the old fields. I do not actually see the funding_period_number there at all...

[2017-03-07 14:02] kravets-levko commented on #44
Can you look [here](http://next.openspending.org/api/3/cubes/ba94aabb80080745688ad38ccad9bfea%3Aeu-esif-funds-beneficiaries-2000-2020-full/model)? It's model (created from datapackage.json files - it looks the same for all datasets). Can you check it please? Maybe, you should, I don't know, press some button or run some script to update data, or something like this?

[2017-03-07 14:19] annafralberts commented on #44
Yes, the problem is in the model, it is a much more fundamental problem how the dimensions to each other. I will now try to reach Adam to see what his quick fix is.

[2017-03-07 14:20] kravets-levko commented on #44
Okay, thanks you. Please ping me when you'll have any solution.

[2017-03-07 14:53] annafralberts commented on #44
Hi Levko,

We have looked at it again and again, and it is a problem with the underlying OFDP, and the division between code, labels, and numbers. So it always uses codes for the filters, even if there are only "labels"/descriptions and the code field is empty etc. We could not use descriptions, because then they wouldn't show in the Dimensions drill downs. And the data-model as such is quite gene

[2017-03-07 14:58] michaeljokf opened #47 "include Piwik"
Hey @kravets-levko could you pretty pretty please include piwik (or something like that) on the website?
So that we have some kind of a tracker for the visits on the page?
Maybe you have already included something like this? Thank you very much!

[2017-03-07 14:59] annafralberts opened #48 "Remove Login"
YES! Let's remove the Login! @kravets-levko

[2017-03-07 16:37] kravets-levko commented on #44
Okay @annafralberts! So, I'll check it once more, and deploy.

[2017-03-07 16:42] kravets-levko commented on #44
BTW - your example uses another dataset :wink: Czech also fails with the same issue - http://next.openspending.org/viewer/ba94aabb80080745688ad38ccad9bfea:cz-eu-esif-funds-beneficiaries-2000-2020-full?measure=Cost_of_the_project.sum&groups%5B%5D=recipient_Beneficiary_name.Beneficiary_name&order=Cost_of_the_project.sum%7Cdesc&filters%5Bgeo_source_Country_code.Country_code%5D%5B%5D=%22CZ%22&filters%

[2017-03-07 16:48] annafralberts commented on #44
Ow no, that is one of the 6108 one's! Hmmm

[2017-03-07 16:48] kravets-levko commented on #48
@annafralberts Ready and deployed.

[2017-03-07 16:51] kravets-levko commented on #47
@michaeljokf Can you provide me a Piwik or Google Analytics (or any other) snippet? I have no access to any tracker used for our projects.

[2017-03-07 16:54] annafralberts commented on #44
@kravets-levko this means that all datasets with: 6018ab87076187018fc29c94a68a3cd2
are the latest ones!!!

[2017-03-07 16:56] annafralberts commented on #44
Just send you an email. Please give me a ring.

[2017-03-07 16:56] kravets-levko commented on #44
Look, @annafralberts, I can revert everything to use `6018...` datasets, but you should find who owns them and make Italy and Full datasets published

[2017-03-07 17:00] annafralberts commented on #44
That must be @akariv

[2017-03-07 17:03] annafralberts commented on #47
Our @knutator will send add it with a PR :)

[2017-03-07 17:10] annafralberts commented on #44
I have just emailed @akariv, because I am not even sure if 6018 is the one that must be indeed used and is the latest (although that is what I conclude looking at the table's and the fact that old columns are dropped and the year-drill is working)

If @akariv is not available, is it an in-between solution to hard-code italy and the full set to ba94
and have the rest work on 6018...?

[2017-03-07 17:16] kravets-levko commented on #44
Adam was in slack a couple of minutes ago, but seems that now he's offline.

We developed entire app with `6018...` datasets, and I was sure that there is the only copy of that data :smile:

I think that is is not a solution to hard-code two datasets - because embedded visualization also does not work well with `ba94...` datasets. It means that currently we have two cases:
- `ba94...` - nor treema

[2017-03-07 17:25] annafralberts commented on #44
So that is with @akariv then?

Just checked the pipelines, and it seems that both esif full and italy are waiting to run.

[2017-03-07 17:30] annafralberts commented on #44
And for reverting to 6018, yes, then by all means let's do that.

And then hope that @akariv can publish the full esif and the italy dataset tonight.

[2017-03-07 17:39] kravets-levko commented on #44
@annafralberts I reverted to `6018...` datasets and deployed. Let's wait for @akariv ...

[2017-03-07 17:41] annafralberts commented on #47
<script type="text/javascript">
 var _paq = _paq || [];
 // tracker methods like "setCustomDimension" should be called before "trackPageView"
 _paq.push(['trackPageView']);
 _paq.push(['enableLinkTracking']);
 (function() {
   var u="//traffic.okfn.de/";
   _paq.push(['setTrackerUrl', u+'piwik.php']);
   _paq.push(['setSiteId', '32']);
   var d=document, g=d.createElement('script'), s=d.getElement

[2017-03-07 17:42] annafralberts commented on #47
@kravets-levko our developer knut said this should work - this is based on our OKF Germany Piwik :)

[2017-03-07 17:44] annafralberts commented on #48
@kravets-levko seems to still require login atm? have you checked?

[2017-03-07 17:48] kravets-levko commented on #47
Yes, at least it sends something to Piwik server. Will create PR in a couple of minutes

[2017-03-07 18:31] akariv commented on #44
Original username is the correct one.
The one you've changed to doesn't have the most updated data.
I'll make sure data is published, but only in a few hours.

On Tue, Mar 7, 2017, 19:39 Levko Kravets <notifications@github.com> wrote:

[2017-03-07 18:35] annafralberts commented on #44
We will launch tomorrow morning. So if it is still done tonight, that is fine. Ping me and levko if that is done.

@kravets-levko also do not forgot to remove the password, here it is still inaccessible without one.

[2017-03-07 18:57] kravets-levko commented on #44
@annafralberts I'll remove it tomorrow early morning, - it will be already removed till your wake up :wink:

[2017-03-08 10:22] #47 closed

[2017-03-08 10:22] #48 closed

[2017-03-08 10:22] #45 closed

[2017-03-08 10:31] michaeljokf opened #52 "include OKI and OKF Germany logos"
@kravets-levko as we discussed. The footer should be adjusted a little. Both the Adessium and the Open Budgets EU logos should be adjusted (shrunken) so that the OKI and OKF Germany logos can be included.

You can find the Open Knowledge International logos here: https://okfn.org/about/resources/
I would suggest using the green version, that would go well with the black one that we have from Open

[2017-03-08 16:33] annafralberts opened #53 "Redirect for www.subsidystories.eu"
Hi Levko,

Could you make a redirect from www.subsidystories.eu

Cheers,
Anna

[2017-03-08 16:38] #53 closed

[2017-03-09 17:35] kravets-levko commented on #52
@michaeljokf Ready and deployed

[2017-03-14 15:04] michaeljokf commented on #52
thanks @kravets-levko it looks really good!

[2017-03-14 15:05] #8 closed

[2017-03-14 15:05] #12 closed

[2017-03-14 15:05] #13 closed

[2017-03-14 15:05] #14 closed

[2017-03-14 15:05] #21 closed

[2017-03-14 15:05] #23 closed

[2017-03-14 15:05] #25 closed

[2017-03-14 15:05] #27 closed

[2017-03-14 15:05] #31 closed

[2017-03-14 15:05] #32 closed

[2017-03-14 15:05] #33 closed

[2017-03-14 15:05] #34 closed

[2017-03-14 15:05] #35 closed

[2017-03-14 15:05] #36 closed

[2017-03-14 15:05] #38 closed

[2017-03-14 15:05] #39 closed

[2017-03-14 15:05] #40 closed

[2017-03-14 15:05] #42 closed

[2017-03-14 15:05] #43 closed

[2017-03-14 15:05] #44 closed

[2017-03-14 15:05] #52 closed